@import 'src/index.module.scss';

.forum {
  @include fontSecondaryText(normal, 400, 12px, 20px);
  width: 50vw;
  color: $text-secondary;  
}

.block_button {
  display: flex;
  flex-flow: row;
  margin: 0px 50px;  
  gap: 10px;

  button {
    width: 100%;
  }
}