@import 'src/index.module.scss';

.root {
  display: grid;
  z-index: 100;
  width: 50%;
  position: relative;
  align-items: center;
  background-color: $main_block_bg_color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24705882352941178);
  padding: 30px 20px;
}
