@import 'src/index.module.scss';

.comments {
  padding: 5px 10px;
  flex: 1;
  display: flex;
  flex-flow: column;
}

.count {
  @include fontSecondaryText(normal, 600, 14px, 20px);
  flex: 1;
  display: flex;
}
