@import 'src/index.module.scss';

.column {
  width: 10%;
  display: flex;
  flex-flow: column;

  .title {
    text-align: center;
  }

  .content {
    @include fontSecondaryText(normal, 600, 14px, 20px);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
