@import 'src/index.module.scss';

.column {
  width: 12%;
  display: flex;
  flex-flow: column;
}

.title {
  text-align: center;
}

.content {
  @include fontSecondaryText(normal, 600, 12px, 20px);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
