@import 'src/index.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.button_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button_item {
  width: 400px;
}

.background_overlay {
  @include fontText(normal, 400, 12px, 20px);
  width: 100%;
  color: $text-primary;
  padding: 0px 0px 80px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  font-size: 22px;
  width: 80%;
  grid-template-columns: auto 1fr 1fr;
}

.header {
  margin: 0 0 40px;
  font-size: 30px;
}

.header_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: grid;
  gap: 40px;
  width: 70%;
}

.window {
  width: 100%;
}
